# PyCharm / IntelliJ
.idea/

# Python cache files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp